:where(html),
.tokens {
    /* Linear */
    --ad-sys-motion-easing-linear: cubic-bezier(0, 0, 1, 1);
    /* Standard */
    --ad-sys-motion-easing-standard: cubic-bezier(0.20000000298023224, 0, 0, 1);
    /* Short 1 */
    --ad-sys-motion-duration-short1: 50;
    /* Short 2 */
    --ad-sys-motion-duration-short2: 100;
    /* Short 3 */
    --ad-sys-motion-duration-short3: 150;
    /* Short 4 */
    --ad-sys-motion-duration-short4: 200;
    /* Medium 1 */
    --ad-sys-motion-duration-medium1: 250;
    /* Medium 2 */
    --ad-sys-motion-duration-medium2: 300;
    /* Medium 3 */
    --ad-sys-motion-duration-medium3: 350;
    /* Medium 4 */
    --ad-sys-motion-duration-medium4: 400;
    /* Long 1 */
    --ad-sys-motion-duration-long1: 450;
    /* Long 2 */
    --ad-sys-motion-duration-long2: 500;
    /* Long 3 */
    --ad-sys-motion-duration-long3: 550;
    /* Long 4 */
    --ad-sys-motion-duration-long4: 600;
    /* Extra long 1 */
    --ad-sys-motion-duration-extra-long1: 700;
    /* Extra long 2 */
    --ad-sys-motion-duration-extra-long2: 800;
    /* Extra long 3 */
    --ad-sys-motion-duration-extra-long3: 900;
    /* Extra long 4 */
    --ad-sys-motion-duration-extra-long4: 1000;
    /* Standard accelerate */
    --ad-sys-motion-easing-standard-accelerate: cubic-bezier(0.30000001192092896,
            0,
            1,
            1);
    /* Standard decelerate */
    --ad-sys-motion-easing-standard-decelerate: cubic-bezier(0, 0, 0, 1);
    /* Emphasized accelerate */
    --ad-sys-motion-easing-emphasized-accelerate: cubic-bezier(0.30000001192092896,
            0,
            0.800000011920929,
            0.15000000596046448);
    /* Emphasized decelerate */
    --ad-sys-motion-easing-emphasized-decelerate: cubic-bezier(0.05000000074505806,
            0.699999988079071,
            0.10000000149011612,
            1);
    /* Legacy */
    --ad-sys-motion-easing-legacy: cubic-bezier(0.4000000059604645,
            0,
            0.20000000298023224,
            1);
    /* Legacy accelerate */
    --ad-sys-motion-easing-legacy-accelerate: cubic-bezier(0.4000000059604645,
            0,
            1,
            1);
    /* Legacy decelerate */
    --ad-sys-motion-easing-legacy-decelerate: cubic-bezier(0,
            0,
            0.20000000298023224,
            1);
}