:where(html),
.tokens {
  --ad-sys-shape-corner-extra-small-top: 4px 4px 0px 0px;
  --ad-sys-shape-corner-extra-small: 4px 4px 4px 4px;
  --ad-sys-shape-corner-large: 16px 16px 16px 16px;
  --ad-sys-shape-corner-none: 0px 0px 0px 0px;
  --ad-sys-shape-corner-large-start: 16px 0px 0px 16px;
  --ad-sys-shape-corner-medium: 12px 12px 12px 12px;
  --ad-sys-shape-corner-small: 8px 8px 8px 8px;
  --ad-sys-shape-corner-large-end: 0px 16px 16px 0px;
  --ad-sys-shape-corner-large-top: 16px 16px 0px 0px;
  --ad-sys-shape-corner-extra-large: 28px 28px 28px 28px;
  --ad-sys-shape-corner-extra-large-top: 28px 28px 0px 0px;
  --ad-sys-shape-corner-full: 50%;
}