.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    position: relative;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.search-container {
    display: flex;
    align-items: center;
    border-radius: 28px;
    background-color: var(--ad-sys-color-surface);
    box-shadow: var(--ad-sys-elevation-level3);
    min-width: 360px;
    max-width: 720px;
    height: 56px;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    padding: 0 16px;
}

.avatar ::slotted(img) {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.search-input {
    color: var(--ad-sys-color-on-surface);
    font-family: var(--ad-comp-search-bar-input-text-font);
    line-height: var(--ad-comp-search-bar-input-text-line-height);
    font-size: var(--ad-comp-search-bar-input-text-size);
    font-weight: var(--ad-comp-search-bar-input-text-weight);
    letter-spacing: var(--ad-comp-search-bar-input-text-tracking);
    flex-grow: 1;
    border: none;
    background: transparent;
    outline: none;
}

.leading-icon {
    /* Styles for the leading icon */
    color: var(--ad-sys-color-on-surface);
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    padding-left: 16px;
    padding-right: 16px;
}

.trailing-icon {
    /* Styles for the trailing icon */
    color: var(--ad-sys-color-on-surface-variant);
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    padding-left: 16px;
    padding-right: 16px;
}