:where(html),
.tokens {
  /* Filled button dragged state layer opacity */
  --ad-comp-filled-button-dragged-state-layer-opacity: var(--ad-sys-state-dragged-state-layer-opacity);
  /* Filled button dragged container elevation */
  --ad-comp-filled-button-dragged-container-elevation: var(--ad-sys-elevation-level3);
  /* Filled button focus state layer opacity */
  --ad-comp-filled-button-focus-state-layer-opacity: var(--ad-sys-state-focus-state-layer-opacity);
  /* Filled button focus container elevation */
  --ad-comp-filled-button-focus-container-elevation: var(--ad-sys-elevation-level0);
  /* Filled button hover state layer opacity */
  --ad-comp-filled-button-hover-state-layer-opacity: var(--ad-sys-state-hover-state-layer-opacity);
  /* Filled button hover container elevation */
  --ad-comp-filled-button-hover-container-elevation: var(--ad-sys-elevation-level1);
  /* Filled button label tracking */
  --ad-comp-filled-button-label-text-tracking: var(--ad-sys-typescale-label-large-tracking);
  /* Filled button label weight */
  --ad-comp-filled-button-label-text-weight: var(--ad-sys-typescale-label-large-weight);
  /* Filled button label size */
  --ad-comp-filled-button-label-text-size: var(--ad-sys-typescale-label-large-size);
  /* Filled button label line height */
  --ad-comp-filled-button-label-text-line-height: var(--ad-sys-typescale-label-large-line-height);
  /* Filled button label font */
  --ad-comp-filled-button-label-text-font: var(--ad-sys-typescale-label-large-font);
  /* Filled button with icon icon size */
  --ad-comp-filled-button-with-icon-icon-size: 18px;
  /* Filled button container elevation */
  --ad-comp-filled-button-container-elevation: var(--ad-sys-elevation-level0);
  /* Filled button container height */
  --ad-comp-filled-button-container-height: 40px;
  /* Filled button container shape */
  --ad-comp-filled-button-container-shape: var(--ad-sys-shape-corner-full);
  /* Filled button pressed state layer opacity */
  --ad-comp-filled-button-pressed-state-layer-opacity: var(--ad-sys-state-pressed-state-layer-opacity);
  /* Filled button pressed container elevation */
  --ad-comp-filled-button-pressed-container-elevation: var(--ad-sys-elevation-level0);
  /* Filled button with icon disabled icon opacity */
  --ad-comp-filled-button-with-icon-disabled-icon-opacity: 0.3799999952316284;
  /* Filled button disabled label opacity */
  --ad-comp-filled-button-disabled-label-text-opacity: 0.3799999952316284;
  /* Filled button disabled container opacity */
  --ad-comp-filled-button-disabled-container-opacity: 0.11999999731779099;
  /* Filled button disabled container elevation */
  --ad-comp-filled-button-disabled-container-elevation: var(--ad-sys-elevation-level0);
}