:where(html),
.tokens {
  /* Filled card disabled container opacity */
  --ad-comp-filled-card-disabled-container-opacity: 0.3799999952316284;
  /* Filled card disabled container elevation */
  --ad-comp-filled-card-disabled-container-elevation: var(--ad-sys-elevation-level0);
  /* Filled card container shape */
  --ad-comp-filled-card-container-shape: var(--ad-sys-shape-corner-medium);
  /* Filled card icon size */
  --ad-comp-filled-card-icon-size: 24px;
  /* Filled card focus state layer opacity */
  --ad-comp-filled-card-focus-state-layer-opacity: var(--ad-sys-state-focus-state-layer-opacity);
  /* Filled card focus container elevation */
  --ad-comp-filled-card-focus-container-elevation: var(--ad-sys-elevation-level0);
  /* Filled card hover state layer opacity */
  --ad-comp-filled-card-hover-state-layer-opacity: var(--ad-sys-state-hover-state-layer-opacity);
  /* Filled card hover container elevation */
  --ad-comp-filled-card-hover-container-elevation: var(--ad-sys-elevation-level1);
  /* Filled card container elevation */
  --ad-comp-filled-card-container-elevation: var(--ad-sys-elevation-level0);
  /* Filled card dragged state layer opacity */
  --ad-comp-filled-card-dragged-state-layer-opacity: var(--ad-sys-state-dragged-state-layer-opacity);
  /* Filled card dragged container elevation */
  --ad-comp-filled-card-dragged-container-elevation: var(--ad-sys-elevation-level3);
  /* Filled card pressed state layer opacity */
  --ad-comp-filled-card-pressed-state-layer-opacity: var(--ad-sys-state-pressed-state-layer-opacity);
  /* Filled card pressed container elevation */
  --ad-comp-filled-card-pressed-container-elevation: var(--ad-sys-elevation-level0);
}