:where(html),
.tokens {
  /* List list item container height */
  --ad-comp-list-list-item-container-height: 56px;
  /* Three lines list item container height */
  --ad-comp-list-md-comp-list-list-item-three-line-container-height: 88px;
  /* Two lines list item container height */
  --ad-comp-list-md-comp-list-list-item-two-line-container-height: 72px;
  /* One line list item container height */
  --ad-comp-list-md-comp-list-list-item-one-line-container-height: 56px;
  /* List list item divider height */
  --ad-comp-list-divider-height: 1px;
  /* List list item dragged container color */
  --ad-comp-list-list-item-dragged-container-elevation: var(--ad-sys-elevation-level4);
  /* List list item dragged state layer opacity */
  --ad-comp-list-list-item-dragged-state-layer-opacity: var(--ad-sys-state-pressed-state-layer-opacity);
  /* List list item pressed state layer opacity */
  --ad-comp-list-list-item-pressed-state-layer-opacity: var(--ad-sys-state-pressed-state-layer-opacity);
  /* List list item focus state layer opacity */
  --ad-comp-list-list-item-focus-state-layer-opacity: var(--ad-sys-state-focus-state-layer-opacity);
  /* List list item hover state layer opacity */
  --ad-comp-list-list-item-hover-state-layer-opacity: var(--ad-sys-state-hover-state-layer-opacity);
  /* List list item disabled trailing icon opacity */
  --ad-comp-list-list-item-disabled-trailing-icon-opacity: 0.3799999952316284;
  /* List list item disabled leading icon opacity */
  --ad-comp-list-list-item-disabled-leading-icon-opacity: 0.3799999952316284;
  /* List list item disabled state layer opacity */
  --ad-comp-list-list-item-disabled-state-layer-opacity: var(--ad-sys-state-focus-state-layer-opacity);
  /* List list item disabled label text opacity */
  --ad-comp-list-list-item-disabled-label-text-opacity: 0.30000001192092896;
  /* List list item trailing icon size */
  --ad-comp-list-list-item-trailing-icon-size: 24px;
  /* List list item trailing supporting text weight */
  --ad-comp-list-list-item-trailing-supporting-text-weight: var(--ad-sys-typescale-label-small-weight);
  /* List list item trailing supporting text tracking */
  --ad-comp-list-list-item-trailing-supporting-text-tracking: var(--ad-sys-typescale-label-small-tracking);
  /* List list item trailing supporting text size */
  --ad-comp-list-list-item-trailing-supporting-text-size: var(--ad-sys-typescale-label-small-size);
  /* List list item trailing supporting text line height */
  --ad-comp-list-list-item-trailing-supporting-text-line-height: var(--ad-sys-typescale-label-small-line-height);
  /* List list item trailing supporting text font */
  --ad-comp-list-list-item-trailing-supporting-text-font: var(--ad-sys-typescale-label-small-font);
  /* List list item leading-image shape */
  --ad-comp-list-list-item-leading-image-shape: var(--ad-sys-shape-corner-none);
  /* List list item leading-image height */
  --ad-comp-list-list-item-leading-image-height: 56px;
  /* List list item leading-image width */
  --ad-comp-list-list-item-leading-image-width: 56px;
  /* List list item leading avatar label weight */
  --ad-comp-list-list-item-leading-avatar-label-weight: var(--ad-sys-typescale-title-medium-weight);
  /* List list item leading avatar label tracking */
  --ad-comp-list-list-item-leading-avatar-label-tracking: var(--ad-sys-typescale-title-medium-tracking);
  /* List list item leadingavatar label size */
  --ad-comp-list-list-item-leading-avatar-label-size: var(--ad-sys-typescale-title-medium-size);
  /* List list item leadingavatar label line height */
  --ad-comp-list-list-item-leading-avatar-label-line-height: var(--ad-sys-typescale-title-medium-line-height);
  /* List list item leading avatar label font */
  --ad-comp-list-list-item-leading-avatar-label-font: var(--ad-sys-typescale-title-medium-font);
  /* List list item leading-avatar size */
  --ad-comp-list-list-item-leading-avatar-size: 40px;
  /* List list item leading-avatar shape */
  --ad-comp-list-list-item-leading-avatar-shape: var(--ad-sys-shape-corner-full);
  /* List list item leading-icon shape */
  --ad-comp-list-list-item-leading-video-shape: var(--ad-sys-shape-corner-none);
  /* List list item large leading-icon color */
  --ad-comp-list-list-item-large-leading-video-height: 69px;
  /* List list item small leading-icon height */
  --ad-comp-list-list-item-small-leading-video-height: 56px;
  /* List list item leading-icon width */
  --ad-comp-list-list-item-leading-video-width: 100px;
  /* List list item leading-icon size */
  --ad-comp-list-list-item-leading-icon-size: 18px;
  /* List list item overline weight */
  --ad-comp-list-list-item-overline-weight: var(--ad-sys-typescale-label-small-weight);
  /* List list item overline tracking */
  --ad-comp-list-list-item-overline-tracking: var(--ad-sys-typescale-label-small-tracking);
  /* List list item overline size */
  --ad-comp-list-list-item-overline-size: var(--ad-sys-typescale-label-small-size);
  /* List list item overline line height */
  --ad-comp-list-list-item-overline-line-height: var(--ad-sys-typescale-label-small-line-height);
  /* List list item overline font */
  --ad-comp-list-list-item-overline-font: var(--ad-sys-typescale-label-small-font);
  /* List list item supporting text weight */
  --ad-comp-list-list-item-supporting-text-weight: var(--ad-sys-typescale-body-medium-weight);
  /* List list item supporting text tracking */
  --ad-comp-list-list-item-supporting-text-tracking: var(--ad-sys-typescale-body-medium-tracking);
  /* List list item supporting text size */
  --ad-comp-list-list-item-supporting-text-size: var(--ad-sys-typescale-body-medium-size);
  /* List list item supporting text line height */
  --ad-comp-list-list-item-supporting-text-line-height: var(--ad-sys-typescale-body-medium-line-height);
  /* List list item supporting text font */
  --ad-comp-list-list-item-supporting-text-font: var(--ad-sys-typescale-body-medium-font);
  /* List list item label text weight */
  --ad-comp-list-list-item-label-text-weight: var(--ad-sys-typescale-body-large-weight);
  /* List list item label text tracking */
  --ad-comp-list-list-item-label-text-tracking: var(--ad-sys-typescale-body-large-tracking);
  /* List list item label text size */
  --ad-comp-list-list-item-label-text-size: var(--ad-sys-typescale-body-large-size);
  /* List list item label text line height */
  --ad-comp-list-list-item-label-text-line-height: var(--ad-sys-typescale-body-large-line-height);
  /* List list item label text font */
  --ad-comp-list-list-item-label-text-font: var(--ad-sys-typescale-body-large-font);
  /* List list item container elevation */
  --ad-comp-list-list-item-container-elevation: var(--ad-sys-elevation-level0);
  /* List list item container shape */
  --ad-comp-list-list-item-container-shape: var(--ad-sys-shape-corner-none);
}