:where(html),
.tokens {
  /* Outlined icon button disabled outline opacity */
  --ad-comp-outlined-icon-button-disabled-outline-opacity: 0.11999999731779099;
  /* Outlined icon button disabled selected container opacity */
  --ad-comp-outlined-icon-button-disabled-selected-container-opacity: 0.11999999731779099;
  /* Outlined icon button disabled unselected outline opacity */
  --ad-comp-outlined-icon-button-disabled-unselected-outline-opacity: 0.11999999731779099;
  /* Outlined icon button pressed state layer opacity */
  --ad-comp-outlined-icon-button-pressed-state-layer-opacity: var(--ad-sys-state-pressed-state-layer-opacity);
  /* Outlined icon button focus state layer opacity */
  --ad-comp-outlined-icon-button-focus-state-layer-opacity: var(--ad-sys-state-hover-state-layer-opacity);
  /* Outlined icon button hover state layer opacity */
  --ad-comp-outlined-icon-button-hover-state-layer-opacity: var(--ad-sys-state-hover-state-layer-opacity);
  /* Outlined icon button disabled icon opacity */
  --ad-comp-outlined-icon-button-disabled-icon-opacity: 0.3799999952316284;
  /* Outlined icon button container size */
  --ad-comp-outlined-icon-button-container-size: 40px;
  /* Outlined icon button container shape */
  --ad-comp-outlined-icon-button-container-shape: var(--ad-sys-shape-corner-full);
  /* Outlined icon button unselected outline width */
  --ad-comp-outlined-icon-button-unselected-outline-width: 1px;
  /* Outlined icon button icon size */
  --ad-comp-outlined-icon-button-icon-size: 24px;
}