:where(html),
.tokens {
  /* Suggestion chip disabled leading icon opacity */
  --ad-comp-suggestion-chip-with-leading-icon-disabled-leading-icon-opacity: 0.3799999952316284;
  /* Suggestion chip leading icon size */
  --ad-comp-suggestion-chip-with-leading-icon-leading-icon-size: 18px;
  /* Suggestion chip (elevated) container elevation */
  --ad-comp-suggestion-chip-elevated-container-elevation: var(--ad-sys-elevation-level1);
  /* Suggestion chip container outline width */
  --ad-comp-suggestion-chip-flat-outline-width: 1px;
  /* Suggestion chip container elevation */
  --ad-comp-suggestion-chip-flat-container-elevation: var(--ad-sys-elevation-level0);
  /* Suggestion chip container height */
  --ad-comp-suggestion-chip-container-height: 32px;
  /* Suggestion chip container shape */
  --ad-comp-suggestion-chip-container-shape: var(--ad-sys-shape-corner-small);
  /* Suggestion chip label text font */
  --ad-comp-suggestion-chip-label-text-font: var(--ad-sys-typescale-label-large-font);
  /* Suggestion chip label text line height */
  --ad-comp-suggestion-chip-label-text-line-height: var(--ad-sys-typescale-label-large-line-height);
  /* Suggestion chip label text size */
  --ad-comp-suggestion-chip-label-text-size: var(--ad-sys-typescale-label-large-size);
  /* Suggestion chip label text weight */
  --ad-comp-suggestion-chip-label-text-weight: var(--ad-sys-typescale-label-large-weight);
  /* Suggestion chip label text tracking */
  --ad-comp-suggestion-chip-label-text-tracking: var(--ad-sys-typescale-label-large-tracking);
  /* Suggestion chip disabled outline opacity */
  --ad-comp-suggestion-chip-flat-disabled-outline-opacity: 0.11999999731779099;
  /* Suggestion chip (Elevated style) disabled container elevation */
  --ad-comp-suggestion-chip-elevated-disabled-container-elevation: var(--ad-sys-elevation-level0);
  /* Suggestion chip (Elevated style) disabled container opacity */
  --ad-comp-suggestion-chip-elevated-disabled-container-opacity: 0.11999999731779099;
  /* Suggestion chip disabled label text opacity */
  --ad-comp-suggestion-chip-disabled-label-text-opacity: 0.3799999952316284;
  /* Suggestion chip (Elevated style) hover container elevation */
  --ad-comp-suggestion-chip-elevated-hover-container-elevation: var(--ad-sys-elevation-level2);
  /* Suggestion chip (Elevated style) hover state layer opacity */
  --ad-comp-suggestion-chip-hover-state-layer-opacity: var(--ad-sys-state-hover-state-layer-opacity);
  /* Suggestion chip (Elevated style) pressed container elevation */
  --ad-comp-suggestion-chip-elevated-pressed-container-elevation: var(--ad-sys-elevation-level1);
  /* Suggestion chip (Elevated style) pressed state layer opacity */
  --ad-comp-suggestion-chip-pressed-state-layer-opacity: var(--ad-sys-state-pressed-state-layer-opacity);
  /* (Suggestion chip Elevated style) focus container elevation */
  --ad-comp-suggestion-chip-elevated-focus-container-elevation: var(--ad-sys-elevation-level1);
  /* Suggestion chip focus state layer opacity */
  --ad-comp-suggestion-chip-focus-state-layer-opacity: var(--ad-sys-state-focus-state-layer-opacity);
  /* Suggestion chip dragged container elevation */
  --ad-comp-suggestion-chip-dragged-container-elevation: var(--ad-sys-elevation-level4);
  /* Suggestion chip dragged state layer opacity */
  --ad-comp-suggestion-chip-dragged-state-layer-opacity: var(--ad-sys-state-dragged-state-layer-opacity);
}