:where(html),
.tokens {
  /* Top app bar (small) on scroll container elevation */
  --ad-comp-top-app-bar-small-on-scroll-container-elevation: var(--ad-sys-elevation-level2);
  /* Top app bar (small) trailing icon size */
  --ad-comp-top-app-bar-small-trailing-icon-size: 24px;
  /* Top app bar (small) leading icon size */
  --ad-comp-top-app-bar-small-leading-icon-size: 24px;
  /* Top app bar (small) headline weight */
  --ad-comp-top-app-bar-small-headline-weight: var(--ad-sys-typescale-title-large-weight);
  /* Top app bar (small) headline tracking */
  --ad-comp-top-app-bar-small-headline-tracking: var(--ad-sys-typescale-title-large-tracking);
  /* Top app bar (small) headline size */
  --ad-comp-top-app-bar-small-headline-size: var(--ad-sys-typescale-title-large-size);
  /* Top app bar (small) headline height */
  --ad-comp-top-app-bar-small-headline-line-height: var(--ad-sys-typescale-title-large-line-height);
  /* Top app bar (small) headline font */
  --ad-comp-top-app-bar-small-headline-font: var(--ad-sys-typescale-title-large-font);
  /* Top app bar (small) container elevation */
  --ad-comp-top-app-bar-small-container-elevation: var(--ad-sys-elevation-level0);
  /* Top app bar (small) container height */
  --ad-comp-top-app-bar-small-container-height: 64px;
  /* Top app bar (small) container shape */
  --ad-comp-top-app-bar-small-container-shape: var(--ad-sys-shape-corner-none);
}