.container {
    background-color: var(--ad-sys-color-surface);
    height: 112px;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 16px 24px 16px;
}

.headline {
    color: var(--ad-sys-color-on-surface);
    font: var(--ad-sys-typescale-headline-small-font);
    line-height: var(--ad-sys-typescale-headline-small-line-height);
    font-size: var(--ad-sys-typescale-headline-small-size);
    letter-spacing: var(--ad-sys-typescale-headline-small-tracking);
    font-weight: var(--ad-sys-typescale-headline-small-weight);
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.leading {
    display: flex;
    justify-content: space-between;
}

.leading-icon {
    color: var(--ad-sys-color-on-surface);
    cursor: pointer;
}

.trailing-icon {
    color: var(--ad-sys-color-on-surface-variant);
    padding: 0 0 0 24px;
    cursor: pointer;
    display: flex;
    gap: 24px;
}