/* write css for icon button filled */
/* take value from ../../../packages/ad-icon-button-filled/readme.md */

/* style button for icon button filled */
button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--ad-comp-filled-icon-button-container-size);
    width: var(--ad-comp-filled-icon-button-container-size);
    border-radius: var(--ad-comp-filled-icon-button-container-shape);
    outline: none;
    border: none;
    position: relative;
    cursor: pointer;
    background-color: var(--ad-sys-color-primary);
}

/* style toggle class when button */
button.unselected {
    background-color: var(--ad-ref-palette-neutral20);
}

/* style selected class when button and toggle both */
button.selected {
    background-color: var(--ad-sys-color-primary);
}

/* style button before */
button::before {
    content: " ";
    position: absolute;
    inset: 0;
    border-radius: inherit;
}

/* style icon class  */
.icon {
    height: var(--ad-comp-filled-icon-button-icon-size);
}

/* style slot inside of icon class */
.icon ::slotted(*) {
    font-size: var(--ad-comp-filled-icon-button-icon-size);
    color: var(--ad-sys-color-on-primary);
}

/* style slot inside of icon class when button unselected */
button.unselected .icon ::slotted(*) {
    color: var(--ad-sys-color-primary);
}

/* style slot inside of icon class when button selected */
button.selected .icon ::slotted(*) {
    color: var(--ad-sys-color-on-primary);
}



/* style button when :enabled */
button:enabled {
    background-color: var(--ad-sys-color-primary);
}

/* style unselected when button:enabled */
button:enabled.unselected {
    background-color: var(--ad-ref-palette-neutral20);
}

/* style selected when button:enabled */
button:enabled.selected {
    background-color: var(--ad-sys-color-primary);
}

/* style slot inside of icon class when button:enabled */
button:enabled .icon ::slotted(*) {
    color: var(--ad-sys-color-on-primary);
}

/* style slot inside of icon class when button:enabled and unselected */
button:enabled.unselected .icon ::slotted(*) {
    color: var(--ad-sys-color-primary);
}

/* style slot inside of icon class when button:enabled and selected */
button:enabled.selected .icon ::slotted(*) {
    color: var(--ad-sys-color-on-primary);
}



/* style button before when :hover */
button:hover::before {
    background-color: var(--ad-sys-color-on-primary);
    opacity: var(--ad-comp-filled-icon-button-hover-state-layer-opacity);
}

/* style unselected before when button:hover */
button.unselected:hover::before {
    background-color: var(--ad-sys-color-primary);
    opacity: var(--ad-comp-filled-icon-button-hover-state-layer-opacity);
}

/* style selected before when button:hover */
button.selected:hover::before {
    background-color: var(--ad-sys-color-on-primary);
    opacity: var(--ad-comp-filled-icon-button-hover-state-layer-opacity);
}

/* style slot inside of icon class when button :hover */
button:hover .icon ::slotted(*) {
    color: var(--ad-sys-color-on-primary);
}

/* style slot inside of icon class when button :hover and unselected */
button.unselected:hover .icon ::slotted(*) {
    color: var(--ad-sys-color-primary);
}

/* style slot inside of icon class when button :hover and selected */
button.selected:hover .icon ::slotted(*) {
    color: var(--ad-sys-color-on-primary);
}



/* style button before when focused */
button:focus::before {
    background-color: var(--ad-sys-color-on-primary);
    opacity: var(--ad-comp-filled-icon-button-focus-state-layer-opacity);
}

/* style unselected before when button:focus */
button.unselected:focus::before {
    background-color: var(--ad-sys-color-primary);
    opacity: var(--ad-comp-filled-icon-button-focus-state-layer-opacity);
}

/* style selected before when button:focus */
button.selected:focus::before {
    background-color: var(--ad-sys-color-on-primary);
    opacity: var(--ad-comp-filled-icon-button-focus-state-layer-opacity);
}

/* style slot inside of icon class when button:focus */
button:focus .icon ::slotted(*) {
    color: var(--ad-sys-color-on-primary);
}

/* style slot inside of icon class when button:focus and unselected */
button.unselected:focus .icon ::slotted(*) {
    color: var(--ad-sys-color-primary);
}

/* style slot inside of icon class when button:focus and selected */
button.selected:focus .icon ::slotted(*) {
    color: var(--ad-sys-color-on-primary);
}



/* style button before when :active */
button:active::before {
    background-color: var(--ad-sys-color-on-primary);
    opacity: var(--ad-comp-filled-icon-button-pressed-state-layer-opacity);
}

/* style unselected before when button:active */
button.unselected:active::before {
    background-color: var(--ad-sys-color-primary);
    opacity: var(--ad-comp-filled-icon-button-pressed-state-layer-opacity);
}

/* style selected before when button:active */
button.selected:active::before {
    background-color: var(--ad-sys-color-on-primary);
    opacity: var(--ad-comp-filled-icon-button-pressed-state-layer-opacity);
}

/* style slot inside of icon class when button:active */
button:active .icon ::slotted(*) {
    color: var(--ad-sys-color-on-primary);
}

/* style slot inside of icon class when button:active and unselected */
button.unselected:active .icon ::slotted(*) {
    color: var(--ad-sys-color-primary);
}

/* style slot inside of icon class when button:active and selected */
button.selected:active .icon ::slotted(*) {
    color: var(--ad-sys-color-on-primary);
}



/* style button when :disabled */
button:disabled {
    background-color: transparent;
    cursor: default;
}

/* style button before when :disabled */
button:disabled::before , button:disabled.unselected::before, button:disabled.selected::before{
    background-color: var(--ad-sys-color-on-surface);
    opacity: var(--ad-comp-filled-icon-button-disabled-container-opacity);
}

/* style slot inside of icon class when button:disabled */
button:disabled .icon ::slotted(*), button:disabled.unselected .icon ::slotted(*), button:disabled.selected .icon ::slotted(*) {
    color: var(--ad-sys-color-on-surface);
    opacity: var(--ad-comp-filled-icon-button-disabled-icon-opacity);
}