@import url("../../../tokens/css/components/outlined-button.css");

/* button {
    background-color: black;
    color: white;
}

button:hover {
    color: black;
    background-color: white;
} */
button {
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 20px;
}

button:hover {
    cursor: pointer;
}

.outline {
    border-radius: 20px;
    font-size: var(--ad-sys-typescale-label-large-size);
    border: 1px solid var(--ad-sys-color-outline);
    background-color: var(--ad-sys-color-surface);
    color: var(--ad-sys-color-primary)
}

.sharp {
    border-radius: 0px;
    font-size: 20px;
}